#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.spriteContainer {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.spriteGroup {
  text-align: center;
}

.spriteGroup img {
  width: 125px;
  height: 125px;
  margin: 5px;
  background: #f4f4f4;
  padding: 10px;
  border-radius: 100px;
}

.movesContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 15px;
}

.move {
  background: #f4f4f4;
  padding: 10px;
  border-radius: 100px;
  font-size: 13px;
}

.typeBadge {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.normal {
  background: #A8A77A;
}

.fire {
  background: #EE8130;
}

.water {
  background: #6390F0;
}

.electric {
  background: #F7D02C;
  color: black;
}

.grass {
  background: #7AC74C;
}

.ice {
  background: #96D9D6;
  color: black;
}

.fighting {
  background: #C22E28;
}

.poison {
  background: #A33EA1;
}

.ground {
  background: #E2BF65;
  color: black;
}

.flying {
  background: #A98FF3;
}

.psychic {
  background: #F95587;
}

.bug {
  background: #A6B91A;
}

.rock {
  background: #B6A136;
}

.ghost {
  background: #735797;
}

.dragon {
  background: #6F35FC;
}

.dark {
  background: #705746;
}

.steel {
  background: #B7B7CE;
  color: black;
}

.fairy {
  background: #D685AD;
}

.headerContainer {
  display: flex;
  align-items: center;
  gap: 15px;
  background: linear-gradient(90deg, #F54927, #2217FF);
  color: white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  margin-bottom: 25px;

}

.headerLogo {
  width: 180px;
  height: 180px;
  object-fit: contain;
}